---
import Navbar from "../components/Navbar/Navbar.astro";
import Hero from "../components/Hero/Hero.astro";
import Features from "../components/Features/Features.astro";
import Prices from "../components/Prices/Prices.astro";
import Table from "../components/Table/Table.astro";
import CTA from "../components/CTA/CTA.astro";
import Footer from "../components/Footer/Footer.astro";
import "../styles/global.scss";
---

<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Solución Factura</title>
  </head>
  <body>
    <Navbar />
    <Hero />
    <Features />
    <Prices />
    <Table />
    <CTA />
    <Footer />
  </body>
</html>

<script>
  (function (d, t) {
    var BASE_URL = "https://my.wabotify.com";
    var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    g.src = BASE_URL + "/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g, s);
    g.onload = function () {
      window.chatwootSDK.run({
        websiteToken: "y4jMxaRY4iBZxGRsMF1Z5sHc",
        baseUrl: BASE_URL,
      });
    };
  })(document, "script");
</script>
