---
import "./footer.scss";
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="heading-footer">Soluci贸n Factura</h3>
        <p>
          La plataforma m谩s completa para facturaci贸n electr贸nica en M茅xico.
        </p>
      </div>

      <div class="footer-section">
        <h3 class="heading-footer">Enlaces</h3>
        <ul class="footer-links">
          <li>
            <a href="https://my.wabotify.com/hc/base-de-conocimientos/es_MX"
              >Soporte</a
            >
          </li>
          <li>
            <a
              href="https://pagos.solucionfiscal.online/portal/signin/solucionfactura"
              >Portal de clientes</a
            >
          </li>
          <li>
            <a href="/aviso-de-privacidad">Aviso de Privacidad</a>
          </li>
          <li>
            <a href="/terminos-y-condiciones">T茅rminos y Condiciones</a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="heading-footer">Contacto</h3>
        <ul class="footer-links">
          <li>
            <a href="tel:+525593314767"> Ventas: 5593314767</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://wa.me/525576017764?text=Hola%20Soporte%2C%20necesito%20ayuda"
            >
              <img
                src="/icons/whatsapp.svg"
                alt="Soporte"
                width="18"
                height="18"
                style="margin-right:6px;"
              />Soporte: 55 7601 7764 / 55 7601 7764</a
            >
          </li>
          <li>
            <a href="https://wa.link/solucionfactura"> WhatsApp</a>
          </li>
          <li>
            <a href="https://app.solucionfactura.mx"> Acceso al Sistema</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Soluci贸n Factura. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
